body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 159);  
    border-radius: 20px;  
    border: 3px solid  rgb(158, 158, 159); 
  }

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-color: #346abf white;
    background-color: rgb(20, 20, 20);

}

.header{
display: flex;
align-items: center ;
justify-content: space-around;
margin-bottom:100px ;
box-shadow: 2px 2px 4px rgba(40, 39, 39, 0.1);

}


.header img{
    cursor: pointer;
    height: 60px;
}

.header .navbar {
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(29, 29, 29);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);




    
}

.header .navbar li a {
    text-decoration: none;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 50PX;
    font-size: 15px;
    color: white;
    transition: all 0.3s ease 0s;

    
}

.header .navbar li a:hover{
    color: rgb(128, 128, 128);
}

.header .navbar li a i, .table td i {
    display: none;
}

.boutique{
    text-decoration: none;
    color: black;
    font-weight: 500;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.boutique:hover{
    
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


.table-container{
    display: grid;
    justify-content: center;

}
.table-container .table{
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 20px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 50);
}

.table thead tr th {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    padding: 5px;
}

.table tr td{
    background-color: rgb(30, 30, 30);
    border-radius: 6px;
    padding: 5px;
}


.table tr:hover{
    opacity: 0.5;
    cursor: default;
}

.table tr td img{
    width: 30px;
    padding-right: 3px;
}

#equipe{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
    
}

#titre{

    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-loss{
    color:red;
}

.result-win{
    color: greenyellow;

}

.donut:hover, .butmarquer:hover, .butencaisser:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.donut{
      transition: 0.3s ease;
  
}

.stats div p{
    text-align: center;
}

.stats .nombredefaites, .stats .nombrevictoires, .nombrenuls  {
    padding: 40px;
    font-weight: bold;
}

.stats{
    display: flex;
    color: aliceblue;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.hole {
    width: 300px; height: 300px;
    border-radius: 50%;
    background: conic-gradient( red 0deg 214deg,greenyellow 214deg 360deg);

  }

  footer{
    margin-top: 300px;
  }

footer .footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around ;
    font-size: 10px;
    padding: 10px;
    align-items: center;

}
footer .reseaux{
    display: flex;
}

.footer .reseaux div a i{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
}
/*****************PARTENAIRE ****************************************/

#Sponsors{
    display: flex;
    justify-content:center;
}

#Sponsors img {
    width: 200px;
    padding: 25px;
}

/*****************TWEET ****************************************/
.tweet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tweet .tweet1{
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(50, 50, 50);
}

.tweet .tweet1:hover{
    transform: scale(1.1);
}

.tweet .compte{
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: i;
    color: gray;
    font-weight: bold;
}

#arobase{
    margin-left: 10px;
    color: rgb(70, 114, 196);
    font-style: italic;
}

.tweet .compte img{
    width: 40px;
    height: 40px;

}

.tweet .contenu{
    font-weight: bold;
    display: flex;
    padding: 10px;
    align-items: center;
}

.tweet a{
    text-decoration: none;
}

.tweet .contenu p {
    width: 200px;
    margin-left: 30px;
    color: grey;
}

.tweet .date{
    text-align: center;
    color: rgb(53, 53, 53);
}
.tweet img{
    width: 100px;
    height: 100px;
    border: rgb(38, 38, 38) 2px solid;
    padding: 5px;
}

#videotweet{
    width: 177px;
    height: 100px;
}

#imgtweetcenter{
    margin: auto;
}

/*****************DERNIER MATCH*********************************/
.derniermatch{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: white;

}

.derniermatch1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(50, 50, 50); 
    padding: 40px;
    border-radius: 10px;
}

.logoderniermatch{
    display: flex;
    height: 80px;
    align-items: center;
    padding: 20px;
}

.logoderniermatch img{
    width: 130px;
}

.logoderniermatch div{
    padding: 20px;
}

.voirmatch{
    margin-top: 30px;
    text-align: center;
    padding: 6px 2px;
}

.voirmatch a{
    padding: 9px 25px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    border: none;
    background-color: rgb(23, 22, 23);
    border: rgb(27, 27, 27) 2px solid;

    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.voirmatch a:hover{
    color: white;
    background-color: rgb(27, 27, 27);
}

#monContenu {
    display: none;

  }

  #monBouton{
    background-color: rgb(20, 20, 20); color: white; border-color:rgb(20, 20, 20);
    box-shadow: 0;

  }
  
  #monBouton:focus{
    display: block;
  }

  #monContenu{
    display: block;
  }


/******************BILAN MATCH *********************************/

.bilan{
    color: rgb(146, 181, 197);
}

#resultat{
    background-color:  rgb(38, 38, 38);
    padding: 10px;
    border: 1px solid rgb(50, 50, 50);  
    border-radius: 5px;
}

#containerMatchCenter{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#containerMatch{
    border: 1px solid rgb(50, 50, 50);  
    background-color: rgb(26, 26, 26);
    padding: 5px;
    text-align: center;
    padding: 15px;
    width: 1200px;
    text-align: center;
}

#containerMatch1{
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

#imgMatch{
width: 70px;
padding-left: 10px;
padding-right: 10px;

}

#containerMatchResultat, #equipeMatch{
    display: flex;
    align-items: center;
}

#contextMatch{
    color: gray;
    text-decoration: none;
}

/*****************VIDEO YOUTUBE*********************************/

.videoyoutube{
    display: flex;
    justify-content:space-evenly;
}

.videoyoutube1{
    text-align: center;
    font-size: 10px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    border: rgb(38, 38, 38) 2px solid;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.videoyoutube img{
    width: 300px;
}

.videoyoutube  a{
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.videoyoutube1:hover{
    transform: scale(1.1);
}

/**************MEDIA******************************/


@media screen and (max-width: 400PX){


    body{
        margin-bottom: 250px;
        margin-top: 150px;

    }

    .header img, .boutique, .header .navbar span, .table-container .table span
    , .nombrevictoires, .nombrenuls, .nombredefaites, #dernier1{
        display: none;
    }



    .header {
        position: fixed;
        bottom: 50px;
        left: 0;
        right: 0;
        display: flex;
        transition: 0.3s ease;
        margin-bottom:auto ;


    }

    .header nav{
        opacity: 0.9;
        transition: 0.3s ease;
        box-shadow: black 70%;
        transition: 0.3s ease;

    }

    .header .navbar .navicon {
        display: flex;
        justify-content: center;
        font-size: 60px;
        width: 200px;
        transition: 0.3s ease;

    }


.calendrier{
    font-size: 40px;
    display: grid;
    justify-content: center;


}

.table-container .table{
    padding: 4%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 23rem;
    align-items: center;
    
}

.table td i{
    display: flex;
    text-align: center;

}

.table-container .table tr{
    text-align: center;
    
}
/*******************************************/
.videoyoutube{ 
    display:grid;
    justify-content: center;
}

.videoyoutube1, .videoyoutube img{
    font-size:  160%;
    top: 30%;
    width: 700px;
}

/********************************************/

.derniermatch1{
    display: grid;
    justify-content: center;
    font-size: 400%;
    width: 700px;
}
.logoderniermatch img{
    padding-top: 80px;
    width: 200px;
}
.tweet .tweet1:hover, .videoyoutube1:hover{
    transform: none;
}

.voirmatch{
    font-size: 300%;
}

/*******************************************/
#logo{
    display: flex;
    justify-content: center;
}


.hole{
    margin-top: 100px;
}


    footer{
        display: none;
    }


}
